<mat-card class="fx-deals-capture Bank details">
    <mat-card-header>
        <mat-card-title>
            <h2>Settlement Documents</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column"
             fxLayoutAlign="space-around start">
            <div fxLayout="row"
                 fxLayoutAlign="left start"
                 fxLayoutGap="1%"
                 *ngIf="isShow"
                 fxFlex="100%">
                <div fxFlex="10%"
                     class="min-wid-65">
                    <mat-form-field *ngIf="isfxDealSettled">
                        <input matInput
                               class="fxdeal-settlement-card"
                               [formControl]="fjDealDocumentReferenceCtrl"
                               (click)="onFJDocumentReferenceCtrlClicked()"
                               readonly>
                    </mat-form-field>
                </div>

                <div fxLayout="row"
                     fxLayoutAlign="start center"
                     fxFlex="60%"
                     *ngIf=isReversedFJ>
                    <div class="reversal-by">
                        <span>Reversed by </span>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput
                                   class="fxdeal-settlement-card"
                                   [formControl]="fjDealReverseDocumentReferenceCtrl"
                                   (click)="onFJDealDocumentReverseReferenceCtrlClicked()"
                                   readonly>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div fxLayout="row"
                 fxLayoutAlign="left start"
                 fxLayoutGap="1%"
                 *ngIf="isShow"
                 fxFlex="100%">
                <div fxFlex="10%"
                     class="min-wid-65">
                    <mat-form-field *ngIf="isfxDealSettled">
                        <input matInput
                               class="fxdeal-settlement-card"
                               [formControl]="fjSettlementDocumentReferenceCtrl"
                               (click)="onFJSettlementDocumentReferenceCtrlClicked()"
                               readonly>
                    </mat-form-field>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                     fxFlex="60%"
                     *ngIf=isReversedFJ>
                    <div class="reversal-by">
                        <span>Reversed by </span>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput
                                   class="fxdeal-settlement-card"
                                   [formControl]="fjSettlementReverseDocumentReferenceCtrl"
                                   (click)="onfJSettlementReverseDocumentReferenceCtrlClicked()"
                                   readonly>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>