<div fxLayout="column"
     class="total-card">
    <mat-card fxFlex="100%"
              class="charter-total">
        <mat-card-header>
            <mat-card-title>
                <h2>Total Card</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row"
                 fxLayoutAlign="left start"
                 fxLayoutGap="1%">
                <div fxLayout="column"
                     fxLayoutAlign="right start">
                    <h4>Purchase Total: </h4>
                </div>
                <div fxLayout="column"
                     fxLayoutAlign="left start">
                    <h4>{{purchaseQuantity |number:'1.3-3'}}</h4>
                </div>
            </div>
            <div fxLayout="row"
                 fxLayoutAlign="left start"
                 fxLayoutGap="1%">
                <div fxLayout="column"
                     fxLayoutAlign="right start">
                    <h4>Sales Total: </h4>
                </div>
                <div fxLayout="column"
                     fxLayoutAlign="left start">
                    <h4>{{salesQuantity |number:'1.3-3'}}</h4>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
