ag-grid-angular.ag-theme-material {
    height: calc(100vh - 248px);
    margin-bottom:-13px;
}

.editor-container {
    padding-right: 20px; // to avoid scroll bar
}

.mat-divider {
    margin-top: 16px;
}

button {
    font-weight: bold;
    margin-right: 62px;
}
