<mat-card>
    <mat-card-title>
        <h2>Bulk Edition</h2>
    </mat-card-title>
    <mat-card-content>
        <div *ngFor="let groupFunctionType of groupFunctionTypeMenu">
            <mat-checkbox #bulkEditCtrl
                          [formControl]="bulkEditionCtrl"
                          [value]="groupFunctionType.functionTypeCode"
                          (change)="onSelectionChange($event,bulkEditCtrl.checked, groupFunctionType)">
                {{groupFunctionType.name}}
            </mat-checkbox>
        </div>
    </mat-card-content>
</mat-card>