<div class="margin main-container">
    <h2>
        Mandatory & Trade Approval and Image set-up
    </h2>
    <div ag-grid="mandatoryTradeGridOptions">
        <ag-grid-angular class="ag-theme-material"
                         [rowData]="mandatoryRowData"
                         [columnDefs]="mandatoryColumnDefs"
                         domLayout="autoHeight"
                         (gridReady)="onGridReady($event)"
                         rowSelection="multiple"
                         [rowHeight]=atlasAgGridParam.rowHeight>
        </ag-grid-angular>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row"
         fxLayoutAlign="space-between start">
        <button mat-button
                (click)="onDiscardButtonClicked()">
            DISCARD
        </button>
        <button mat-button
                [disabled]="!checkEdit"
                (click)="onSaveButtonClicked()">
            Save
        </button>
    </div>
</div>