<div [class.displayMode]="!isEditable"
     class="custom-form"
     [class.isEmpty]="!fieldControl.value"
     [class.required-field]="isRequired()">
    <mat-form-field *ngIf="isAutocompleteActivated">
        <input matInput
               #field
               [formControl]="fieldControl"
               [matAutocomplete]="auto"
               (blur)="onBlur()"
               autocomplete="off">
        <mat-placeholder>
            {{label}}
        </mat-placeholder>
        <mat-icon *ngIf="fieldControl.enabled && hasIcon"
                  class="bookmark-icon"
                  matSuffix>bookmark</mat-icon>
        <mat-autocomplete #auto="matAutocomplete"
                          [displayWith]="generateDisplay.bind(this)"
                          (optionSelected)="onOptionSelected($event)"
                          [panelWidth]="panelSize">
            <mat-option *ngFor="let item of options"
                        [value]="item">
                {{ generateSelect(item) }}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="fieldControl.errors && isEditable">{{ getErrorMessage() }}</mat-error>
        <mat-hint *ngIf="!fieldControl.value && isEditable && !isRequired()">
            {{hint}}
        </mat-hint>
        <mat-hint *ngIf="isRequired() && isEditable && !hasWarning">Required *</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="!isAutocompleteActivated">
        <mat-select [formControl]="fieldControl"
                    (selectionChange)="onSelectionChanged($event)"
                    (openedChange)="onOpenedChanged($event)"
                    [multiple]="multiselect">
            <mat-option *ngFor="let item of options"
                        [value]="item">
                {{ generateSelect(item) }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="fieldControl.errors && isEditable">{{ getErrorMessage() }}</mat-error>
        <mat-placeholder>{{label}}</mat-placeholder>
        <mat-hint *ngIf="!fieldControl.value && isEditable && !isRequired()">
            {{hint}}
        </mat-hint>
        <mat-hint *ngIf="isRequired() && isEditable && !hasWarning">Required *</mat-hint>
    </mat-form-field>
</div>
