.header-tab {
    margin-bottom: 40px;
}

.menu-header {
    background-color: #53c234;
    color: white;

    mat-icon {
        color: white;
    }
}

.mat-menu-content {
    padding-top: 0 !important;
}

.floating-menu {
    top: -1px;
}

.dark-tab {
    .mat-tab-nav-bar {
        border-bottom: 0;
    }
}
