<atlas-goods-cost-invoice-selection #goodsCostInvoiceSelectionComponent>
</atlas-goods-cost-invoice-selection>
<atlas-goods-cost-contract-search #goodsCostContractSearchComponent
                                  (contractsSelected)="onContractsSelected($event)"
                                  (commoditySelected)="onDifferentCommoditySelected($event)">
</atlas-goods-cost-contract-search>
<atlas-goods-cost-pricing-options #goodsCostPricingOptionsComponent
                                  (pricingAndDecimalOptionSelected)="onPricingAndDecimalOptionSelected($event)">
</atlas-goods-cost-pricing-options>