<div class="main-container">
    <h2>Charter to close</h2>
    <mat-card class="search-card">
        <div fxLayout="row"
             class="search">
            <form [formGroup]="searchForm"
                  ng-submit="onSearchCharters()"
                  class="large-form">
                <mat-form-field appearance="outline"
                                id="charter-search">
                    <input required
                           specialIsAlphaNumeric
                           autocomplete="off"
                           matInput
                           formControlName="searchCharterReferenceCtrl"
                           (keydown.enter)="onSearchCharters()"
                           placeholder="Charter Ref" />
                </mat-form-field>
            </form>
            <button mat-raised-button
                    (click)="onSearchCharters()"
                    class="heroGradient mat-raised-button">
                <mat-icon aria-label="Search"
                          class="search-icon">search</mat-icon>
            </button>
        </div>
    </mat-card>
    <mat-card class="mat-elevation-z1 padding-small">
        <div fxLayout="row"
             class=" table-title atlas-grid-card-header">
            <h2 class="atlas-grid-card-title">Charters</h2>
            <span class="fill-space"></span>
            <atlas-ag-grid-user-preferences *ngIf="charterGridOptions && charterGridOptions.columnDefs"
                                            [gridOptions]="charterGridOptions"
                                            [company]="company"
                                            [gridId]="componentId"
                                            [sharingEnabled]="hasGridSharing"
                                            #userPreferences>
            </atlas-ag-grid-user-preferences>
        </div>
        <div style="width: 100%; height:100%">
            <div ag-grid="charterGridOptions"
                 class="ag-theme-material pointer-cursor"
                 style="width: 100%; height:100%">
                <ag-grid-angular style=" height:100%;"
                                 class="ag-theme-material"
                                 [rowData]="charterGridRows"
                                 [columnDefs]="charterGridColumns"
                                 domLayout="autoHeight"
                                 (gridReady)="onGridReady($event)"
                                 (rowSelected)="onSelectionChanged($event)"
                                 (columnVisible)="onColumnVisibilityChanged($event)"
                                 [pagination]="true"
                                 [paginationPageSize]="10"
                                 [enableSorting]="true"
                                 [enableColResize]="true"
                                 enableFilter
                                 [rowHeight]="atlasAgGridParam.rowHeight"
                                 [excelStyles]="excelStyles"
                                 rowSelection="multiple">
                </ag-grid-angular>
            </div>
        </div>
        <div fxLayout="row"
             fxLayoutAlign="center center"
             fxLayoutWrap
             *ngIf="isLoading"
             class="loading">
            <mat-spinner color="accent"></mat-spinner>
        </div>
    </mat-card>
</div>