.menu-bar-action-icon {
    cursor: pointer;
    background-color: #81cf5c;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-bottom: 8px;
}

.menu-bar-action-icon-disabled{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.38);
    cursor: not-allowed;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-bottom: 8px;
}
.white-icon {
    color: white;
    height: 24px;
    width: 24px;
    padding: 7px;
}
.fx-deal-main{
    margin-top: 20px;
    margin-right: 20px;
    margin-left:20px
}
.button-icon-action{
    padding: 8px;
}