.material-checkbox {
    position: relative;
    z-index: 99;
}
.selectComp {
    width: 95%
}

.buttonExplore {
    display: inline-block;
    width: 10px;
    text-align: center;
    vertical-align: middle;
    margin-right: 12px;
    margin-top: 7px;
}
