<div fxLayout="row"
     fxLayoutAlign="space-around start">
    <div fxLayout="column"
         fxFlex="98.5">
        <mat-card>
            <mat-card-title class="atlas-grid-card-title mat-card-title">Counterparties to Summary</mat-card-title>
            <mat-card-content>
                <div ag-grid="summaryCounterpartiesLineGridOptionsCounterpartiesLineGridOptions">
                    <ag-grid-angular class="ag-theme-material atr-ag-grid"
                                     [rowData]="summaryCounterpartyDocumentLines"
                                     [columnDefs]="columnDefs"
                                     domLayout="autoHeight"
                                     (gridReady)="onGridReady($event)"
                                     [pagination]="true"
                                     [paginationPageSize]="15"
                                     [enableSorting]="true"
                                     [enableColResize]="false"
                                     [singleClickEdit]=true
                                     (cellValueChanged)="onCellValueChanged($event)"
                                     [enableRangeSelection]="true"
                                     [rowHeight]=32>
                    </ag-grid-angular>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>