<div fxLayout="row wrap"
     fxLayoutAlign="start"
     fxLayoutAlign.lt-md="space-around center"
     fxLayoutGap="16px"
     class="grid-main-tab">
    <atlas-treshold-cost-amount #tresholdCostAmountComponent
                                fxFlexOrder.lt-md="1"
                                fxFlex="49%"></atlas-treshold-cost-amount>
    <atlas-default-payment-terms #defaultPaymentTermsComponent
                                 fxFlexOrder.lt-md="2"
                                 fxFlex="49%"></atlas-default-payment-terms>

</div>