.contract-status {
	margin-left: 10px;
	margin-top: 2px;
	font-size: large;
}

.contract-status-pipe {
	font-size: xx-large;
	color: #32556e;
}

.approved {
	color: #97B150;
}

.unapproved {
	color: #9B3641;
}
