<mat-card class="shipment-details">
    <mat-card-header>
        <mat-card-title>
            <h2>Details</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row"
             fxLayoutAlign="start"
             fxLayoutGap="16px">
            <div class="custom-form"
                 fxFlex="35%">
                <atlas-masterdata-user-preferences-input isEditable="true"
                                                         [fieldControl]="quantityCodeforReportingCtrl"
                                                         [options]="filteredWeightUnits"
                                                         label="Quantity Code for Reporting"
                                                         displayProperty="weightCode"
                                                         [selectProperties]="['weightCode', 'description']"
                                                         lightBoxTitle="Results for Weight Unit"
                                                         gridId="weightUnitsGrid"
                                                         (optionSelected)="weightCodeSelected($event)">
                </atlas-masterdata-user-preferences-input>
            </div>
        </div>
    </mat-card-content>
</mat-card>