<h2 mat-dialog-title>{{ lightboxTitle}}
    <button mat-icon-button
            mat-dialog-close
            class="close-dialog-btn">
        <mat-icon aria-label="Closing button">clear</mat-icon>
    </button></h2>

<mat-dialog-content>
    <input matInput
           [formControl]="filterControl"
           matTooltip="Filter"
           placeholder="Filter">

    <div ag-grid="gridOptions"
         class="ag-theme-material pointer-cursor"
         style="width: 100%; height: 100%">
        <ag-grid-angular class="ag-theme-material"
                         [rowData]="filteredRow"
                         [columnDefs]="columnDefs"
                         (gridReady)="onGridReady($event)"
                         (rowDataChanged)="onRowDataChanged()"
                         [enableColResize]="true"
                         [pagination]="true"
                         [paginationPageSize]="100"
                         [enableSorting]="true"
                         [rowSelection]="rowSelection"
                         [rowMultiSelectWithClick]="data.multiselect"
                         [getMainMenuItems]="getMainMenuItems.bind(this)"
                         domLayout=autoHeight
                         (rowSelected)="onRowSelected($event)"
                         enableFilter
                         [rowHeight]="atlasAgGridParam.rowHeight">
        </ag-grid-angular>
    </div>
</mat-dialog-content>


<mat-divider></mat-divider>

<mat-dialog-actions>
    <button mat-button
            mat-dialog-close>discard</button>
    <button mat-button
            (click)='onMultipleSelectConfirmButtonClicked()'>confirm</button>
</mat-dialog-actions>
