.mat-dialog-title {
    margin-bottom: 16px;
}

.manual-import p {
    font-weight: bold;
    font-size: 14px;
}

.mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
}

button {
    margin: 0;
}
