<mat-card>
    <mat-card-title>
        <h2>Other Settlements</h2>
    </mat-card-title>
    <mat-card-content>
        <div *ngFor="let invoiceType of invoiceTypeMenuItems">
            <mat-checkbox #washoutsCtrl
                          [formControl]="washoutCtrl"
                          [checked]="invoiceType.checked"
                          [value]="invoiceType.invoiceTypeId"
                          (change)="onInvoiceTypeChecked($event,washoutsCtrl.checked,invoiceType)">{{invoiceType.name}}</mat-checkbox>
        </div>
    </mat-card-content>
</mat-card>