label {
    font-weight: bold;
}

.mat-column-delete mat-icon {
    color: #007caa;
}

atlas-shipment-form-component,
atlas-total-card-component {
    width: 49%;
}

.header-background {
    min-height: 94px !important;
}

.header-content {
    padding: 16px 30px 0px !important;
}

header .mat-card-title {
    font-size: 16px;
    margin-bottom: 0px;
}

.bottom-marge {
    margin-bottom: 6px;
}

.line-height-18 {
    line-height: 18px !important;
}
