<mat-card>
    <mat-card-title>
        Taxes for Cost
        <button mat-icon-button
                [matMenuTriggerFor]="menu1"
                style="float: right">
            <i class="material-icons">more_vert</i>
        </button>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item
                    [matMenuTriggerFor]="exportMenu">
                <mat-icon>import_export</mat-icon><span>Export</span>
            </button>
        </mat-menu>
        <mat-menu #exportMenu="matMenu">
            <button mat-menu-item
                    (click)="onExportButtonClickedAsExcel()">
                <mat-icon>import_export</mat-icon><span>Export as Excel</span>
            </button>
            <button mat-menu-item
                    (click)="onExportButtonClickedAsCSV()">
                <mat-icon>import_export</mat-icon><span>Export as CSV</span>
            </button>
        </mat-menu>
    </mat-card-title>

    <mat-card-content>

        <ag-grid-angular class="ag-theme-material"
                         [rowData]="taxesGridRows"
                         [columnDefs]="taxesGridColumns"
                         domLayout="autoHeight"
                         (gridReady)="onGridReady($event)"
                         [pagination]="false"
                         [paginationPageSize]="10"
                         [enableSorting]="true"
                         [enableColResize]="true"
                         enableFilter
                         [rowHeight]=atlasAgGridParam.rowHeight>
        </ag-grid-angular>
        <div fxLayout="row"
             fxLayoutAlign="end"
             class="tax-cost-total">
            <mat-card-subtitle class="no-margin total-figure">Total Tax Amount: <span
                      class="total-figure-value">{{defaultTaxDirectionSign}}{{formatQuantityAndTotal(this.taxTotal)}}
                    {{currencyCode}}</span>
            </mat-card-subtitle>
        </div>
    </mat-card-content>
</mat-card>
