:host ::ng-deep {
    .mat-form-field-infix {
        border-top: 0;
    }
}

.mat-form-field {
    font-size: 13px;

    .mat-input-element {
        font-size: 12px;
    }

    .compass-icon {
        font-size: 16px;
        margin-top: 0px;
    }

    .placeholder {
        color: #00a9c6;
        font-size: 12px;
    }

    .mat-form-field-flex {
        align-items: center;
    }
}

.mat-form-field-invalid {
    .placeholder {
        color: #df5a4d;
        font-size: 12px;
    }
}
