<mat-card class="trade-capture-card ammendment-auditform-card">
    <mat-card-header>
        <mat-card-title>
            Trade Creation & Amendment
        </mat-card-title>
        <mat-card-subtitle>
            Trade created on {{createdDateFormat}} at {{createdTimeFormat}} by {{createdBy}}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="amendmentDate">Trade amended on {{amendmentDateFormat}} at {{amendmentTimeFormat}} by
            {{amendedBy}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>
