.summary-header-title {
    display: inline-block;
    margin-bottom: 0;
}

.summary-details {
    margin-top: 20px;
}

.invoice-date-warning {
    background-color: #ec8d2d;
}

header {
    margin-bottom: 14px;
}

.header-background {
    min-height: 114px;
}

.header-content {
    padding: 16px 30px 0px;
}
