.edit-costs-dialog .mat-button.add-cost-button {
    text-transform: none !important;
}

.chip-list .mat-chip-list-wrapper .mat-standard-chip {
    margin: 8px 8px 8px 0 !important;
}

.edit-costs-dialog .mat-dialog-content {
  overflow: hidden !important;  
}
