<div class="main-container">
    <h2 class="heading">
        Date Format
    </h2>
    <div>
        <div fxLayout="row"
             fxLayoutAlign="end"
             fxFlex="200%">
            <mat-form-field fxFlex="90%"
                            class="content-height">
                <mat-select [value]='dateFormatSelected'
                            placeholder="Date Format"
                            (selectionChange)='onDateFormatChanged($event)'>
                    <mat-option *ngFor="let dateFormat of dateFormatList"
                                [value]="dateFormat.enumEntityId">
                        {{ dateFormat.enumEntityValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row"
         fxLayoutAlign="space-between start">
        <button mat-button
                (click)="onDiscardButtonClicked()">
            DISCARD
        </button>
        <button mat-raised-button
                [disabled]="false"
                (click)="onSaveButtonClicked()">
            SAVE
        </button>
    </div>
</div>