.container-height {
    height: 100%;
}

.atr-ag-grid {
    width: 100%;
    height: 100%;
}

.ag-theme-material .ag-header-select-all {
    width: 100% !important;
    text-align: center !important;
}

.atr-grid-left-margin {
    left: 20px;
}

.margin-content {
    margin-bottom: 2%;
}

.apportion-button.mat-raised-button {
    margin-top: 0 !important;
 }