<mat-card>
    <mat-card-title>
        <h2>Purchase of Goods</h2>
    </mat-card-title>
    <mat-card-content>
        <div *ngFor="let invoicetype of invoiceTypeMenuItems">
            <mat-checkbox #purchaseCtrl
                          [formControl]="purchaseInvoiceCtrl"
                          [value]="invoicetype.invoiceTypeId"
                          (change)="OnChange($event,purchaseCtrl.checked,invoicetype)">{{invoicetype.name}}</mat-checkbox>
        </div>
    </mat-card-content>
</mat-card>
