<div class="main-container hub-menu">
    <div fxLayout="row"
         fxLayoutAlign="space-between start">
        <div fxLayout.xs="column"
             fxLayoutAlign="space-between"
             fxLayoutGap="10px"
             fxLayoutGap.sm="10"
             class="hub-menu-panel">

            <mat-card class="active-card"
                      (click)="onMappingTabCliked()">
                <img mat-card-image
                     src=".\assets\img\Companies_small.jpg">
                <mat-card-title>
                    <h2 class="no-margin">Mapping</h2>
                </mat-card-title>
            </mat-card>

            <mat-card class="active-card"
                      (click)="onAccountingInterfaceTabCliked()">
                <img mat-card-image
                     src=".\assets\img\GlobalParam_small.jpg">
                <mat-card-title>
                    <h2 class="no-margin">To Accounting Interface </h2>
                    <mat-chip selected
                              disabled
                              matTooltip="Accounting Interface"
                              [ngClass]="accountingInterfaceStatus == true ? 'mat-approved': 'mat-error'">
                        {{accountingStatus}}
                    </mat-chip>
                </mat-card-title>
            </mat-card>

            <mat-card class="inactive-card"
                      matTooltip="Feature coming soon">
                <img mat-card-image
                     src=".\assets\img\Profiles_small.jpg">
                <mat-card-title>
                    <h2 class="no-margin">To DMS </h2>
                    <mat-chip selected
                              disabled
                              matTooltip="DMS"
                              [ngClass]="dmsInterfaceStatus == true ? 'mat-approved': 'mat-error'">
                        {{dmsStatus}}
                    </mat-chip>
                </mat-card-title>
            </mat-card>

            <mat-card class="active-card"
                      (click)="onTreasurySystemTabCliked()">
                <img mat-card-image
                     src=".\assets\img\GlobalParam_small.jpg">
                <mat-card-title>
                    <h2 class="no-margin">To Treasury System</h2>
                    <mat-chip selected
                              disabled
                              matTooltip="DMS"
                              [ngClass]="treasuryInterfaceStatus == true ? 'mat-approved': 'mat-error'">
                        {{treasuryStatus}}
                    </mat-chip>
                </mat-card-title>
            </mat-card>
        </div>
    </div>
</div>

<div fxLayout="column"
     [hidden]="hideMappingSideNav">
    <mat-sidenav-container>
        <mat-sidenav #mappingSideNav
                     class="sidenav"
                     mode="over"
                     position="end"
                     disableClose
                     [fixedTopGap]="56"
                     [fixedInViewport]="true">
            <atlas-mapping #mappingComponent
                           (discardChanges)="onDiscardButtonClicked($event)"
                           (saveMandatory)="mappingSideNav.close()"
                           (isSideNavOpened)="sideNavOpened($event)">
            </atlas-mapping>
        </mat-sidenav>
    </mat-sidenav-container>
</div>

<div fxLayout="column"
     [hidden]="hideAccountingInterfaceSideNav">
    <mat-sidenav-container>
        <mat-sidenav #accountingInterfaceSideNav
                     class="sidenav"
                     mode="over"
                     position="end"
                     disableClose
                     [fixedTopGap]="56"
                     [fixedInViewport]="true">
            <atlas-accounting-interface #accountingInterfaceComponent
                                        (discardChanges)="onDiscardButtonClicked($event)"
                                        (saveMandatory)="accountingInterfaceSideNav.close()"
                                        (accountingInterfaceStatus)="accountingStatusChanged($event)"
                                        (isSideNavOpened)="sideNavOpened($event)">
            </atlas-accounting-interface>
        </mat-sidenav>
    </mat-sidenav-container>
</div>

<div fxLayout="column"
     [hidden]="hideDmsSideNav">
    <mat-sidenav-container>
        <mat-sidenav #dmsSideNav
                     class="sidenav"
                     mode="over"
                     position="end"
                     disableClose
                     [fixedTopGap]="56"
                     [fixedInViewport]="true">
            <atlas-dms #dmsComponent
                       (discardChanges)="onDiscardButtonClicked($event)"
                       (saveMandatory)="dmsSideNav.close()"
                       (dmsInterfaceStatus)="dmsStatusChanged($event)"
                       (isSideNavOpened)="sideNavOpened($event)">
            </atlas-dms>
        </mat-sidenav>
    </mat-sidenav-container>
</div>

<div fxLayout="column"
     [hidden]="hideTreasurySystemSideNav">
    <mat-sidenav-container>
        <mat-sidenav #treasurySystemSideNav
                     class="sidenav"
                     mode="over"
                     position="end"
                     disableClose
                     [fixedTopGap]="56"
                     [fixedInViewport]="true">
            <atlas-treasury-system #treasurySystemComponent
                                   (discardChanges)="onDiscardButtonClicked($event)"
                                   (saveMandatory)="treasurySystemSideNav.close()"
                                   (treasuryInterfaceStatus)="treasuryStatusChanged($event)"
                                   (isSideNavOpened)="sideNavOpened($event)">
            </atlas-treasury-system>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
