.contract-reference-link
{
    color:rgba(0, 0, 0, 0.7) ;
    text-decoration: underline;
    cursor: pointer;
 }

.disable-url-click-green
{
    color:green ;
}

.disable-url-click-orange
{
    color:orange ;
}

.disable-url-click-red
{
    color:red;
}

.icon-click-green{
    color:green !important ;
}
.icon-click-orange
{
    color:orange !important ;
}

.icon-click-red
{
    color:red !important;
}
