.margin-top-8{
    margin-top: 8px;
}
.deleteField{
    margin: 8px 0 12px 0px;
    height: 29px;
    border-radius: 0px;
    width: 83px;
}
div.bankAccountDetails{
    overflow: scroll;
    height: 300px;
    width: 570px;
}
.headerName{
    font-weight: bolder;
}