.add-line-container.add-line-container-add-costs {
    margin-top: 8px !important;
}
.add-line-container.add-line-container-add-costs h6 {
    margin: 0 !important;
}

.add-button-container {
    margin-right: 0 !important;
}