<mat-card>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="space-between left"
         class="atlas-grid-card-header">
        <h3 class="atlas-grid-card-title">Possible Deallocation</h3>
        <span class="fill-space"> </span>
        <div>
            <mat-menu class="no-overflow"
                      #menu="matMenu">

                <div *ngFor="let col of deallocationGridCols">
                    <mat-checkbox [checked]="!col.hide">{{col.headerName}}</mat-checkbox>
                </div>
            </mat-menu>
        </div>
    </div>
    <div>
        <h5 class="no-margin">Only trades that are allocated & have no BL date are available for deallocation</h5>
    </div>
    <div ag-grid="deallocationGridOptions"
         class="ag-theme-material pointer-cursor"
         style="width: 100%; height: 100%">
        <ag-grid-angular style=" height: 100%;"
                         class="ag-theme-material"
                         [gridOptions]="deallocationGridOptions"
                         [rowData]="deallocationGridRows"
                         [columnDefs]="deallocationGridCols"
                         [enableColResize]="true"
                         [pagination]="true"
                         [paginationPageSize]="10"
                         [suppressRowClickSelection]="true"
                         [enableSorting]="true"
                         (gridReady)="onGridReady($event)"
                         (rowSelected)="onRowSelected($event)"
                         (selectionChanged)="onSelectionChanged($event)"
                         rowSelection='multiple'
                         domLayout="autoHeight"
                         [rowHeight]="atlasAgGridParam.rowHeight">
        </ag-grid-angular>
    </div>
</mat-card>
