.quick-sum-div-height {
    height: 25px !important;
}

.quick-sum-span {
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    margin-right: 4px;
}


button.mat-raised-button {
    margin: 0px !important;
}

.top-margin{
    margin-top: 15px;
}

div.reportParameterField{
    min-width: 63%;
}

div.documentDateField{
    margin-left: -5.5%;
}