.header-background {
    padding-bottom: 0px;
    min-height: 100px;
}

.header-title {
    padding: 12px 20px;
}

.header-content {
    padding: 0px 30px 8px;
}

.costmatrix-required-fields {
    color: #00a9c6;
}

mat-sidenav {
    width: 65%;
}
