<mat-card *ifAuthorized="'Trades.Physicals.CloseTrade',company:this.company">
    <mat-card-title>
        <h2>Bulk Closure</h2>
    </mat-card-title>
    <mat-card-content>
        <div *ngFor="let groupFunctionType of groupFunctionTypeMenu">
            <mat-checkbox #bulkClosureCtrls
                          [formControl]="bulkClosureCtrl"
                          [value]="groupFunctionType.functionTypeCode"
                          (change)="onSelectionChange($event,bulkClosureCtrls.checked, groupFunctionType)">
                {{groupFunctionType.name}}
            </mat-checkbox>
        </div>
    </mat-card-content>
</mat-card>