<div [class.displayMode]="!isEditable"
     class="custom-form"
     [class.required-field]="isRequired()"
     [class.isEmpty]="!fieldControl.value">
    <mat-form-field>
        <input matInput
               [matDatepicker]="picker"
               [placeholder]="label"
               autocomplete="off"
               [formControl]="fieldControl"
               [disabled]="disabled"
               (blur)="onValueEntered()">
        <mat-datepicker-toggle matSuffix
                               [for]="picker"
                               *ngIf="isEditable"
                               [disabled]="disabled"
                               [class.validIcon]="fieldControl.valid"
                               [class.notValidIcon]="!fieldControl.valid && (fieldControl.touched || fieldControl.dirty)">
        </mat-datepicker-toggle>
        <mat-datepicker #picker
                        startView="multi-year"
                        (yearSelected)="onChosenYearSelected($event,picker)"></mat-datepicker>
    </mat-form-field>
</div>
