.ag-theme-material .ag-header-cell-resize {
    z-index: 0 !important;
}

.quick-sum {
    padding: 4px 16px 0 0;
}

.quick-sum mat-chip {
    line-height: 12px !important;
}

.quick-sum-span {
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    margin-right: 4px;
}

button.mat-button-user-margin.mat-button.ng-star-inserted {
    margin: 0px !important;
    line-height: 0px !important;
}

.accounting-sum {
    margin-top: 7px;
}

.mat-card {
    padding: 16px;
}

.warning-title {
    font-size: 14px;
}

.icon-padding {
    background-color: #ec8d2d;
    border-radius: 50%;
    padding: 8px;
    height: 24px;
    width: 24px;
}

.mat-icon {
    color: white;
}

div.toggle-field {
    padding-bottom: 10px;
}
