.mat-dialog-content {
    overflow: hidden;
    padding: 0;
}

.warning {
    color: #ec8d2d;
    font-size: 12px;
}

.mat-button,
.mat-raised-button {
    margin: 0;
}

.contextual-search-for-costmatrix{
    width: 100%;
}