mat-card.company-masterdata-warning-card.mat-card {
    padding: 0 !important;
    height: 75px;
    display: flex;
    align-items: center;

    mat-card-header.mat-card-header {
        mat-card-title.mat-card-title {
            margin: 0;
            padding: 8px 0;
        }

        h4 {
            margin: 0;
        }

        mat-card-subtitle.mat-card-subtitle {
            margin: 0;
        }
    }
}

.master-data-card {
    min-width: 513px;
    height: 450px;
    float: left;
}
