<mat-card class="invoice-creation-card"
          fxFlex="100">
    <mat-card-title>
        <h2> Payments</h2>
    </mat-card-title>
    <mat-card-content>
        <div>
            <div fxLayout="row"
                 fxLayoutAlign="left start"
                 fxLayoutGap="5%">
                <mat-form-field fxFlex="30%"
                                class="mat-read-only-field">
                    <input matInput
                           placeholder="Payment Terms"
                           [formControl]="invoicePayTermsCntrl"
                           [matTooltip]="'Payment Terms'"
                           autocomplete="off"
                           readonly>
                </mat-form-field>
                <mat-form-field fxFlex="30%"
                                class="mandatory">
                    <input matInput
                           placeholder="Due Date"
                           [formControl]="invoiceDueDateCntrl"
                           [matDatepicker]="invoiceDueDatePicker"
                           [matTooltip]="'Due Date'"
                           autocomplete="off"
                           (dateChange)='onInvoiceDueDateSelected()'>
                    <mat-datepicker-toggle matSuffix
                                           [for]="invoiceDueDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #invoiceDueDatePicker></mat-datepicker>
                    <mat-hint *ngIf="!invoiceDueDateCntrl.hasError('isDateBeforeValid' || 'required') && !invoiceDueDateCntrl.disabled"
                              class="invoice-creation-required-fields">Required*</mat-hint>
                    <mat-error *ngIf="invoiceDueDateCntrl.hasError('required')">
                        Required*
                    </mat-error>
                    <mat-error *ngIf="invoiceDueDateCntrl.hasError('isDateBeforeValid')">
                        Can't be before invoice date
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
