.commodity-input-field {
    width: 15%
}

.custom-form,
.mat-error {
    bottom: 12px;
    position: relative;
    // values of material mat error component
    font-size: 10.5px;
}

.hint-commodity-description {
    color: #332f30;
}
