<div class="main-container">
    <div class="copy-company-warning-banner">
        <mat-card class="copy-company-warning-card">
            <div class="question-circle-icon">
                <mat-icon>help_outline</mat-icon>
            </div>
            <mat-card-header>
                <mat-card-title>
                    <h4>Company creation by copy</h4>
                </mat-card-title>
                <mat-card-subtitle>
                    start by choosing the company you want to duplicate
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <mat-card>
        <div fxLayout="row"
             fxLayout.xs="column"
             fxLayoutAlign="space-between left"
             fxLayoutWrap
             fxLayoutGap="20px"
             class="atlas-grid-card-header">
            <h2 class="atlas-grid-card-title">Companies</h2>
            <atlas-ag-grid-user-preferences *ngIf="companyGridOptions && companyGridOptions.columnDefs"
                                            [gridOptions]="companyGridOptions"
                                            [company]="company"
                                            [gridId]="gridCode"
                                            [showExport]="false"
                                            [sharingEnabled]="hasGridSharing"
                                            #userPreferences>
            </atlas-ag-grid-user-preferences>
        </div>
        <div ag-grid="companyGridOptions"
             class="ag-theme-material pointer-cursor"
             style="width: 100%; height: 100%">
            <ag-grid-angular style=" height: 100%;"
                             class="ag-theme-material"
                             [rowData]="companyGridRows"
                             [columnDefs]="companyGridCols"
                             [enableColResize]="true"
                             [suppressSizeToFit]=false
                             [pagination]="true"
                             [paginationPageSize]="10"
                             [enableSorting]="true"
                             domLayout="autoHeight"
                             (gridReady)="onGridReady($event)"
                             (rowSelected)="onSelectionChanged($event)"
                             rowSelection="single"
                             enableFilter
                             [rowHeight]="atlasAgGridParam.rowHeight"
                             (columnVisible)="onColumnVisibilityChanged($event)">
            </ag-grid-angular>
        </div>

    </mat-card>
    <div fxLayout="row "
         fxLayoutAlign="space-between start"
         class="button-details">
        <div fxLayout="row "
             fxLayoutAlign="start ">
            <button mat-button
                    (click)="onDiscardButtonClicked()">
                DISCARD
            </button>
        </div>
        <div fxLayout="column "
             fxLayoutAlign="start ">
            <div fxLayout="row "
                 fxLayoutAlign="end start ">
                <button mat-raised-button
                        (click)="onCopySelectedCompanyButtonClicked()"
                        [disabled]="!isCompanySelected">
                    COPY SELECTED COMPANY
                </button>
            </div>
        </div>
    </div>
</div>
