span {
    padding: 16px;
    line-height: 32px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: bold;
}

.toggleLabel {
    margin: 2px;
    font-size: 75%;
    font-weight: 400;
    line-height: 1.125;
}