.container-flex {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 100%;
}

/* 3 columns */
@media screen and (min-width: 1590px) {
    .container-flex {
        /* Your container needs a fixed height, and it 
        * needs to be taller than your tallest column. */
        max-height: 765px;
    }

    .flex-item {
        width: 32%;
    }

    /* Re-order items into 3 rows */
    .flex-item:nth-child(3n+1) {
        order: 1;
    }

    .flex-item:nth-child(3n+2) {
        order: 2;
    }

    .flex-item:nth-child(3n) {
        order: 3;
    }

    /* Force new columns */
    .container-flex::before,
    .container-flex::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 2;
    }
}

/* 2 columns */
@media screen and (max-width: 1590px) {
    .container-flex {
        max-height: 1028px;
    }

    .flex-item {
        width: 49%;
    }

    /* Re-order items into 3 rows */
    .flex-item:nth-child(2n+1) {
        order: 1;
    }

    .flex-item:nth-child(2n+2) {
        order: 2;
    }
}

/* 1 column */
@media screen and (max-width:850px) {
    .container-flex {
        max-height: none;
    }

    .flex-item {
        width: 98%;
        order: 1;
    }
}
