.table-title {
    background-color: white;
}

.loading {
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.dropdown-width {
    width: 50px;
}

.grid-size {
    height: 100%;
}

.span-title {
    margin-top: 10px;
    margin-right: 4px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

button.mat-button-user-margin {
    margin-top: 4px;
}

.mat-toggle-refresh,
.mat-toggle-posting {
    display: block;
}

.mat-select-style {
    width: 100px;
    margin-top: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
