<div class="main-container">
    <mat-card>
        <atlas-filter-set-display (filtersChanged)="onFilterSetDetailsChange($event)"
                                  [columnConfiguration]="columnConfiguration"
                                  [gridCode]="gridCode"
                                  [company]="company">
        </atlas-filter-set-display>
    </mat-card>
    <mat-card class="mat-elevation-z1 padding-small">
        <div fxLayout="row"
             class=" table-title atlas-grid-card-header">
            <h2 class="atlas-grid-card-title">
                {{dataLength}} {{dataLength > 1 ? 'Accounting Documents' : 'Accounting Document'}}
            </h2>
            <span class="fill-space"></span>
            <span class="span-title">Refresh every :</span>
            <span>
                <mat-select class="mat-select-style"
                            [formControl]="refreshOptionsCtrl"
                            [(value)]="selected">
                    <mat-option value="10" (click)="refreshOptionSelectionChanged(this)">
                        10 Seconds</mat-option>
                    <mat-option value="20" (click)="refreshOptionSelectionChanged(this)">20 Seconds</mat-option>
                </mat-select>
            </span>
            <atlas-ag-grid-user-preferences *ngIf="postingManagementGridOptions && postingManagementGridOptions.columnDefs"
                                            [gridOptions]="postingManagementGridOptions"
                                            [company]="company"
                                            [gridId]="gridCode"
                                            [sharingEnabled]="hasGridSharing"
                                            #userPreferences>
            </atlas-ag-grid-user-preferences>
        </div>
        <div fxLayout="row"
             fxLayoutAlign="center center"
             fxLayoutWrap
             *ngIf="isLoading"
             class="loading">
            <mat-spinner color="accent"></mat-spinner>
        </div>
        <div>
            <div ag-grid="postingManagementGridOptions"
                 class="ag-theme-material pointer-cursor">
                <ag-grid-angular class="ag-theme-material grid-size"
                                 [rowData]="postingManagementGridRows"
                                 [columnDefs]="columnDefs"
                                 [gridOptions]="postingManagementGridOptions"
                                 (columnVisible)="onAddOrDeleteColumn($event)"
                                 domLayout="autoHeight"
                                 (gridReady)="onGridReady($event)"
                                 (rowSelected)="onRowSelected($event)"
                                 (rowClicked)="onRowClicked($event)"
                                 [pagination]="true"
                                 [rowClassRules]="rowClassRules"
                                 [paginationPageSize]="20"
                                 [enableSorting]="true"
                                 [enableColResize]="true"
                                 enableFilter
                                 [rowSelection]="rowSelection"
                                 [rowHeight]="atlasAgGridParam.rowHeight"
                                 [excelStyles]="excelStyles">
                </ag-grid-angular>
            </div>
        </div>
    </mat-card>
    <div fxLayout="row"
         fxLayoutAlign="space-between">
        <div>
            <mat-slide-toggle  mat-raised-button
                               class="mat-toggle-refresh"
                               [checked]="isStopRefreshActive"
                               (change)="toggleStartStopRefresh($event)"
                               [disabled]="isStopRefreshButtonDisable">
                Stop Refresh
            </mat-slide-toggle>
            <mat-slide-toggle  *ifAuthorized="'Financials.POSTINGMGT.STARTPOSTING',company:this.company"
                               mat-raised-button
                               class="mat-toggle-posting"
                               [checked]="isPostingProcessActive"
                               (change)="toggleStartStopPostingProcess()">
                Posting process is active
            </mat-slide-toggle>
        </div>
        <div>
            <button mat-button
                    *ifAuthorized="'Financials.POSTINGMGT.AUTHORIZEPOSTING',company:this.company"
                    title="Authorize for Posting"
                    (click)="onAuthorizeClicked()"
                    class="mat-button-user-margin mat-raised-button">
                Authorize for posting
            </button>
        </div>

    </div>
</div>
<atlas-lock-interval [resourcesInformation]="resourcesInformation">
</atlas-lock-interval>
