.contract-reference-link
{
    color:#0000EE ;
    text-decoration: underline;
    cursor: pointer;
 }

.disable-url-click-green
{
    color:green ;
}

.disable-url-click-orange
{
    color:orange ;
}

.disable-url-click-red
{
    color:red;
}

.icon-click-green{
    color:green !important ;
}
.icon-click-orange
{
    color:orange !important ;
}

.icon-click-red
{
    color:red !important;
}
.margin-left-i-5{
    margin-left: 5px;
}
