<mat-card>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="space-between center"
         fxLayoutWrap
         fxLayoutGap="20px"
         class="atlas-grid-card-header">
        <h2 class="no-margin">End of Month Postings</h2>
        <mat-chip-list class="chip-list">
            <mat-chip selected
                      disabled>
                {{dataVersionMonth}}
            </mat-chip>
            <mat-chip selected
                      disabled>{{reportTypeDescription}}
            </mat-chip>
        </mat-chip-list>
        <span class="fill-space"></span><button mat-icon-button
                [matMenuTriggerFor]="menu1">
            <i class="material-icons">more_vert</i>
        </button>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item
                    [matMenuTriggerFor]="exportMenu">
                <mat-icon>import_export</mat-icon><span>Export</span>
            </button>
        </mat-menu>
        <mat-menu #exportMenu="matMenu">
            <button mat-menu-item
                    (click)="onExportButtonClickedAsExcel()">
                <mat-icon>import_export</mat-icon><span>Export as Excel</span>
            </button>
            <button mat-menu-item
                    (click)="onExportButtonClickedAsCSV()">
                <mat-icon>import_export</mat-icon><span>Export as CSV</span>
            </button>
        </mat-menu>
    </div>
    <mat-card-content>
        <div ag-grid="detailsGridOptions"
             class="ag-theme-material pointer-cursor">
            <ag-grid-angular style=" height:100%;"
                             class="ag-theme-material"
                             [columnDefs]="fxDealPostingsGridColumns"
                             [rowData]="fxDealPostingsGridRows"
                             [gridOptions]="fxDealPostingsGridOptions"
                             domLayout="autoHeight"
                             (gridReady)="onGridReady($event)"
                             rowSelection="multiple"
                             [singleClickEdit]="true"
                             [pagination]="true"
                             [paginationPageSize]="10"
                             [suppressRowClickSelection]="true"
                             [enableSorting]="true"
                             [enableColResize]="true"
                             [animateRows]="true"
                             [enableRangeSelection]="true"
                             [rowHeight]="atlasAgGridParam.rowHeight"
                             [excelStyles]="excelStyles"
                             enableFilter>
            </ag-grid-angular>
        </div>
    </mat-card-content>
</mat-card>