.mat-column-selection {
    overflow: initial;
}

.mat-button-toggle {
    text-align: center;
    min-width: 88px;
}

label {

    font-size: 14px;
    font-family: Roboto;
    color: black;
}

label.no-data-message {
    font-weight: bold;
}

.highlight {
    background: #A7C5E2;
}

.label-search {
    font-size: 11px;
    font-family: Roboto;
    color: rgba(0, 0, 0, .54);
}

.label-summary {
    font-weight: bold;
}


mat-radio-button {
    margin: 5px;
}

.mat-stepper-horizontal {
    background-color: transparent;
}
